/* Empty. Add your own CSS if you like */

/* Item */

.item {
  border-width: 0px;
  border-color: #f8f8f8;
  overflow: inherit;
}

.active {
  text-align: center;
}

.drug-thumb {
  border-radius: 20%;
}
