/*
 * All App CSS
 */


/* ==========================================================================
   Auth Views
   ========================================================================== */

.user-auth-logo {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-auth {
  background-color: transparent;
  color: white;
}

.user-auth-background {
  background-image: url("../img/background2.png");
  background-size: cover;
}

.user-auth input[type="text"] {
  background: transparent;
  color: white;
  text-align: center;
}

.user-auth input[type="password"] {
  background: transparent;
  color: white;
  text-align: center;
}

.user-auth input[type="text"]::-webkit-input-placeholder {
  text-align: center;
  color: white;
}

.user-auth input[type="password"]::-webkit-input-placeholder {
  text-align: center;
  color: white;
}

.user-auth hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

.user-auth a {
  color: white;
}

.user-auth label.item.item-input.item-floating-label {
  border-color: transparent;
}

.user-auth button.button.button-block.button-royal {
  border-color: #67B9A1;
  background-color: #67B9A1;
  margin-top: 4em;
}

.user-auth-redirect {
  text-align: center;
}


/* ==========================================================================
   Calendar View
   ========================================================================== */

.user-calendar {
  margin-top: 10%;
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-family: 'Lato', sans-serif;
}

.user-calendar .item {
  border-width: 0px;
}

.remaining {
  background-color: #ECECCE;
}

.completed {
  background-color: #DCECCE;
}

.user-calendar-times {
  float: center;
}


/* ==========================================================================
   Dashboard View
   ========================================================================== */


/* Clock */

.widget-clock.blue-light .digital {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.widget-clock.blue-light .time {
  font-family: 'Rationale', sans-serif;
  font-size: 3.0em;
  color: #4A9896;
}


/* Content */

.user-dashboard {
  margin-top: 10%;
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-family: 'Lato', sans-serif;
}

.user-dashboard hr {
  display: block;
  margin-right: 2em;
  margin-left: 2em;
  border-style: inset;
  border-width: 1px;
  border-top: 1px solid #DADADA;
}

.user-dashboard .healthChart {
  margin-top: 5%;
  position: relative;
  right: 20%;
}


/* Footer */

.bar.bar-royal {
  background-color: #5C6682;
  border-color: #5C6682;
}


/* ==========================================================================
   Health Stats
   ========================================================================== */

.user-health-stats {
  margin-top: 3em;
  text-align: center;
  text-transform: uppercase;
  font-size: 90%;
  font-family: 'Lato', sans-serif;
}


/* ==========================================================================
   Medications View
   ========================================================================== */


/* ==========================================================================
   MedForm View
   ========================================================================== */

.user-medform {
  margin-top: 2em;
}

.user-medform .item {
  border-width: 0px;
}


/* ==========================================================================
   Modals
   ========================================================================== */

.ion-nifty-modal .user-modal {
  background-color: #FFF;
}

.user-modal-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.user-modal-input {
  text-align: center;
}
