<ion-view view-title="auth-register" name="auth-register-view">
  <ion-content class="user-auth-background">
    <div class="list list-inset user-auth">
      <img class="user-auth-logo" src="../img/logo.png">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Username" ng-model="user.email">
      </label>
      <hr>
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Password" ng-model="user.password">
      </label>
      <hr>
      <button class="button button-block button-royal" ng-click="register()"> Register </button>
      <div class="user-auth-redirect"> Have an account? <a ui-sref="signin"> Sign In </a></div>
    </div>
  </ion-content>
</ion-view>
