<ion-view view-title="auth" name="auth-view">
  <ion-content>
    <div class="row row-center">
      <div class="col-offset-20 col-70">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <button class="button button-block button-calm" ng-click="signin()"> Open MedUp </button>
        <div>Already have an account? <a ui-sref="signup">SIGN UP</a></div>
      </div>
    </div>
  </ion-content>
</ion-view>
