<ion-view view-title="auth-signin" name="auth-signin-view">
  <ion-content class="user-auth-background">
    <div class="list list-inset user-auth">
      <img class="user-auth-logo" src="../img/logo.png">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Username" ng-model="user.email">
      </label>
      <hr>
      <label class="item item-input item-floating-label">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <hr>
      <button class="button button-block button-royal" ng-click="signin()"> Open MedUp </button>
      <div class="user-auth-redirect"> Don't have an account? <a ui-sref="register"> Register </a></div>
    </div>
  </ion-content>
</ion-view>
