<ion-view view-title="auth" name="auth-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <!-- TODO: UPDATE - data is a placeholder -->
        <input type="text" placeholder="Username" ng-model="user.email">
      </label>
      <label class="item item-input">
        <!-- TODO: UPDATE - data is a placeholder -->
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <div class="row">
      <div class="col-offset-20 col-70">
        <button class="button button-block button-calm" ng-click="signup()">Submit</button>
        <div ng-click="goToSignIn()">Already have an account? SIGN IN</div>
      </div>
    </div>
  </ion-content>
</ion-view>
