<ion-view view-title="calendar" name="calendar-view">
  <div class="row">
    <div class="bar bar-header">
      <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ui-sref="dashboard"></a>
      <h1 class="title"> Due Today </h1>
    </div>
  </div class="row">
  <ion-content class="user-calendar">
    <ion-list show-delete="false" can-swipe="true">
      <!-- remaining medication -->
      <div class="item item-divider remaining">
        Remaining
      </div>
      <ion-item ng-repeat="medication in remaining">
        <h3> {{medication.info.name}} ({{medication.info.dosage}}mg) </h3>
        <div class="user-calendar-times">
          <span ng-repeat="notification in medication.notifications"> {{notification.at | date:'h:mma'}} </span>
        </div>
        <p> {{medication.info.instruct}} </p>
        <ion-option-button class="button-balanced icon ion-checkmark" ng-click="take()"></ion-option-button>
      </ion-item>
      <!-- completed medication -->
      <div class="item item-divider completed">
        Completed
      </div>
      <ion-item ng-repeat="medication in completed">
        <h3> {{medication.info.name}} ({{medication.info.dosage}}mg) </h3>
        <div class="user-calendar-times">
          <span ng-repeat="notification in medication.notifications"> {{notification.at | date:'h:mma'}} </span>
        </div>
        <p> {{medication.info.instruct}} </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
