<!doctype html>
<html class="no-js" ng-app="medup-web">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <header>

        <div class="logo">
          <img src="assets/img/logo.png" alt="MedUp Logo">
        </div>

        <div class="header-nav">
          <ul>
            <li><a ur-sref="profile">Profile</a></li>
            <li><a ur-sref="profile">Logout</a></li>
          </ul>
        </div>

      </header>

      <section class="content">

        <navbar></navbar>

        <section class="primary">

          <medup-web></medup-web>

        </section>

      </section>

      <script src="dist/bundle.js"></script>
      <script src='assets/checklist-model/checklist-model.js'></script>
    </body>
</html>
