<ion-modal-view class='ion-nifty-modal'>
  <ion-content class='user-modal'>
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="closeModal('fatigue')"> </button>
    <h3 class="user-modal-title">Fatigue Scale</h3>
    <br />
    <div class="item range range-assertive">
      <i class="icon ion-happy-outline"></i>
      <input type="range" name="fatigue" min="0" max="100" value="50" ng-model="fatigueInput">
      <i class="icon ion-sad-outline"></i>
    </div>
    <br />
    <button class="button button-block button-royal" ng-click="openSideEffects(fatigueInput)"> continue </button>
  </ion-content>
</ion-modal-view>
