<ion-modal-view class='ion-nifty-modal'>
  <ion-content class='user-modal'>
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="closeModal('sideeffects')"> </button>
    <h3 class="user-modal-title">Side Effects</h3>
    <br />
    <div class="user-modal-input">
      <js-tag js-tag-options="jsTagOptions"></js-tag>
    </div>
    <br />
    <button class="button button-block button-royal" ng-click="openOverallHealth()"> Continue </button>
  </ion-content>
</ion-modal-view>
