<!-- Displays the alerts the user has made for each medication -->
<ion-view view-title="Medications">
  <div class="content has-header">
    <div class="list">
      <ion-item ng-repeat="medication in medications">
        <a href="#/app/medication" class="item item-thumbnail-left" ng-if="!medStatus[medication.id]" ng-click="moreInformation(medication)">
          <img class="drug-thumb" src={{medication.image}}>
          <h2><b> {{medication.name}} {{medication.dosage}} </b></h2>
          <p class="ion-android-alarm-clock"> {{medication.reminder}} </p>
        </a>
      </ion-item>
    </div>
  </div>
  <div class="tabs tabs-positive">
    <a class="tab-item active"> <i class="icon ion-home"></i> </a>
    <a class="tab-item"> <i class="icon ion-android-add"></i> </a>
    <a class="tab-item"> <i class="icon ion-gear-a"></i> </a>
  </div>
</ion-view>
