<div class="add-state">

  <div class="top-heading">

    <h1>Your Medications</h1>

  </div>

  <div class="med-form-wrapper">

    <form class="med-form">

      <div class="form-top">

        <input class="med-name-input" type="text" name="medName" placeholder="Medication Name">

        <input class="med-dose-input" type="text" name="medDose" placeholder="Dose">

        <input class="med-instructions-input" type="text" name="medInstructions" placeholder="Instructions">

        <h4 class="select-reminder">Select A Reminder</h4>

        <div class="reminder-wrapper">

          <label for="radio0">
            <input type="checkbox" value="8:30am" name="radio0" id="radio0"><span><i class="fa fa-clock-o"></i>8:30am</span>
          </label>

          <label for="radio1">
            <input type="checkbox" value="12:30pm" name="radio1" id="radio1"><span><i class="fa fa-clock-o"></i>12:30pm</span>
          </label>

          <label for="radio2">
            <input type="checkbox" value="6:30pm" name="radio2" id="radio2"><span><i class="fa fa-clock-o"></i>6:30pm</span>
          </label>

          <label for="radio3">
            <input type="checkbox" value="9:30pm" name="radio3" id="radio3"><span><i class="fa fa-clock-o"></i>9:30pm</span>
          </label>

        </div>

      </div>

      <section class="med-preview">
    
        <h4>Preview</h4>

        <div class="med-card">
          
          <div class="med-left">
    
            <h3 class="med-name">Abilify (Aripiprazole) <span class="dose">5mg</span></h3>

            <span class="instructions">Take one tablet by mouth every morning</span>

          </div>

          <div class="med-notifications">
            <ul>
              <li>
                <i class="fa fa-clock-o"></i>
                <span class="time">8:30am</span>
              </li>
              <li>
                <i class="fa fa-clock-o"></i>
                <span class="time">12:30pm</span>
              </li>
            </ul>
          </div>

        </div>

      </section>

      <div class="submit-wrapper">
        
        <button type="submit">Save Medication</button>

      </div>

    </form>

  </div>

</div>